<%for postset in Postset.find( :all, :order => "created_at DESC", :conditions => {:published => true}, :limit => 3) do%>
	<li><%= link_to postset.title, {:controller => 'postset', :action => 'view', :id => postset.id}%></li>
<%end%>