<h1>Request a Password Reminder</h1>
<% form_for :user do |form|%>
<fieldset>
	<legend>Enter your email address</legend>
	<div class="form_row">
		<label>Email:</label>
		<%= form.text_field :email%>
	</div>
	<div class="form_row">
		<%= submit_tag "Send Reminder", :class => 'submit'%>
	</div>
</fieldset>
<%end%>