<%= error_messages_for 'post' %>

<!--[form:post]-->
<p><label for="post_title">Title</label><br/>
<%= text_field 'post', 'title'  %></p>

<p><label for="post_content">Content</label><br/>
<%= text_area 'post', 'content'  %></p>
<!--[eoform:post]-->

