<%title "About Us"%>
<h1 style="font-size: 150%;">About Us</h1>
<h2>About RAPodcast</h2>
<p>The <span style="font-weight: bold;">R</span>andom 
<span style="font-weight: bold;">A</span>ccess 
<span style="font-weight: bold;">Podcast</span>
is a gamer-centric podcast in which we offer a "Geek's Perspective" on the world and the events that happen in it.  Or near it. Or even on the other side of the known universe.  
We do our best to bring news to you that you will find interesting and enlightening.  
Or at least entertaining.</p>
<hr/>
<h2>About Dave</h2>
<p><span class='dpalay'>I'm a Mathematics major at the University of Michigan. 
I hold two associates degrees, one in General Studies: Math & Science and one in Photographic 
Technology. I am a self-admitted geek, nerd, and dork, and I can honestly say that I was doing 
it all before it was cool. I am looking forward to many good episodes as your host, 
and hope you enjoy listening!</span></p>
<hr/>
<h2>About Andy</h2>
<p><span class='qs23'>'Ello! I guess this is where I go and start givin you all the 411. 
First off, anything you see in green, that's me typing. 
I'm a Cancer, I like walks on the beach... enough of that. 
I'm a college student, Electronic Media & Film Studies and Graphic Communications. 
I am not as bad of a nerd, dork. etc. as Dave, and if you don't believe me, 
it will be easy to prove. I also think I am crazy, and that will be also easy to prove.
 All I can really say, is that if you like to see a crazy fun side of anything and everything, 
 get ready for it.</span></p>
