<%title "Contact Us"%>
<h1 style="font-size: 150%;">About Us</h1>
<h2>Contact RAPodcast</h2>
<p>Have something you'd like to comment on? Perhaps some portion of the website is not working as 
you think it should be.  Something about the podcast that upset you?  Whatever it is, we want to
hear about it! <br/>
You can reach <%= mail_to 'qs23@rapodcast.net', "Andy", :encode => 'javascript'%> and <%= mail_to 'dpalay@rapodcast.net', "Dave", :encode => 'javascript'%> by clicking on their names here.</p>