<h1>Donate to the PAX Button Exchange Case For Gabe & Tycho</h1>

<span style="font-size: 120%;">
<h3>UPDATE:</h3>
<p>Holy shit! You people are way too generous.  I can't thank you guys enough.  What I have decided to do is leave the donations open until sometime in late July.  I will then take whatever money I have and buy the biggest most elaborate case I can find for that price.  Any leftover proceeds will go directly to Child's Play.  Thanks a ton guys!</p>
</span>

<p>
Please enter your PA Forum Handle in the additional info field.  Depending on available space in the box, there will be a printed slip with your handle on it next to your button.
</p>

<form  action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input style="margin-left: 40%; width: auto;" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHuQYJKoZIhvcNAQcEoIIHqjCCB6YCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBcWFSv08WXd/LJlU96drp0A9/h8Czjv7ARdMVYnQ2d8ybpuBPMW9apV+tipV4HVolwxUDUVXu6f3GNidkX7hCI/L5aaeH3PDVBUA9CVDkTau93BjVb2bnL9zG9LFxU6AqkLNXXTqEfbWVcYlo89Vh1mehVbioFo3qdPbSbNOHktDELMAkGBSsOAwIaBQAwggE1BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECJKaSMErFGROgIIBEA4Jen1FaQ4fsf0r4QukY+2uzVAfUfqgh5m2dVDAWTsmXcPbTWgabKUR6upqyCkp2w+learI/lN/2+aHxK6D/6MLA8fq19kM1XrPcbKaJKK2OUvJ4PRtSV3MwMjyl17AqlDt7keyym9UmXVjv6O9Or7DPM73hT+N864unDpRTa/kl6A1rECY3Jze5Jk2TEFYYAy0Wrfk2lRaQIYUwr1zHp8bylN9i7WvIfAUskdDHtJsXcTmghIl4+iFk8hxkBr/Y/QjjVcK5e3p7S5bzoflYKNgtmoJd2urIHsvVAUS8nFydx9jJvQ1iiFyqQNFvdU0M4f4E1d7f/IL1nfLT599qLsoTBSHNlJjUTPGugFr6zQJoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMDgwNzA4MTk0OTExWjAjBgkqhkiG9w0BCQQxFgQU8XNPGmVQtIUzT7ZX/8QtCr24DbMwDQYJKoZIhvcNAQEBBQAEgYBsJW/V/5ySfv+wyWNkQHBR5FAmWclZNJqgMQGFS5zoeXCatuI9cm/qj+YyNb2lclE3wi5HI2VDMgEODC0A/N/W3icxRQYyqMARDYTB4gPHdYsXlZRnx2zyfR3t+TDDp57RBzER1PLWupQyflgi02XVL4WH3QqnUUBF/B+gCLU6pw==-----END PKCS7-----
">
</form>
<br/>
<h2>Backstory</h2>
<p>I’ve been talking with RedHalo and we’ve decided that there’s  another great thing we can do with these buttons.  <br />
  Here’s how my thinking went:</p>
<ol>
  <li>Mike and  Jerry (Gabe and Tycho) have put together this amazing event, for which we  should show how much we, the community, appreciate their work.  </li>
  <li>We are collectively  individually putting together a pretty damn awesome set of pins.  </li>
  <li>We are all  going to have somewhere around 50 of each of these pins</li>
  <li> The chances of actually giving out 50 are  pretty slim.  </li>
  <li>Everyone  should have at least one pin sitting around</li>
  <li>We can  combine <em>1-5</em> with <em>6</em> and come up with a kick-ass gift for our hosts.  </li>
</ol>
<p>This progressed to the idea of a poster board based product,  with everyone putting their pin in and signing it.  However, while cheap, this product would not  last very long.  So, after some digging  online, I have come up with these: <br />
    <br />
  the cheaper option: <a href="http://www.usadisplay.net/pin.htm" target="_blank">http://www.usadisplay.net/pin.htm</a><br />
  the other cheap option: <a href="http://www.displaygifts.com/product/item.php?category=19&amp;item=48">http://www.displaygifts.com/product/item.php?category=19&item=48</a><br />
  the better option: <a href="http://cgi.ebay.com/Pin-Display-Case-Cabinet-with-glass-door-Solid-Wood_W0QQitemZ300239424303QQihZ020QQcategoryZ13836QQssPageNameZWDVWQQrdZ1QQcmdZViewItem" target="_blank">http://cgi.ebay.com/Pin-Display-Case...QQcmdZViewItem</a><br />
  <br />
  The problem is, of course, the price.  The buttons alone didn’t kill my wallet, but these  cases aren’t exactly cheap.   So what I have done is opened up a donation at <a href="http://www.rapodcast.net/donate.html">http://www.rapodcast.net/donate.html</a>.  I’m going to buy one of these things no matter what, but it would make things  much easier if people contributed a couple bucks to the fund.  The more money I get from the donations, the  better a case I’m going to get.  <br />
  As added incentive to donate, I’m going to say that if you  do, you get priority in having your button and name in the case.  We’ll try to get as many people as we can into  it anyways, but if you don’t donate, then I can’t promise you a spot.  <br />
  Thank you much for your time, and thank you more if you  decide to contribute!  Every dollar  helps!</p>
<p>
Please enter your PA Forum Handle in the additional info field.  Depending on available space in the box, there will be a printed slip with your handle on it next to your button.
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input style="margin-left: 40%; width: auto;" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHuQYJKoZIhvcNAQcEoIIHqjCCB6YCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBcWFSv08WXd/LJlU96drp0A9/h8Czjv7ARdMVYnQ2d8ybpuBPMW9apV+tipV4HVolwxUDUVXu6f3GNidkX7hCI/L5aaeH3PDVBUA9CVDkTau93BjVb2bnL9zG9LFxU6AqkLNXXTqEfbWVcYlo89Vh1mehVbioFo3qdPbSbNOHktDELMAkGBSsOAwIaBQAwggE1BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECJKaSMErFGROgIIBEA4Jen1FaQ4fsf0r4QukY+2uzVAfUfqgh5m2dVDAWTsmXcPbTWgabKUR6upqyCkp2w+learI/lN/2+aHxK6D/6MLA8fq19kM1XrPcbKaJKK2OUvJ4PRtSV3MwMjyl17AqlDt7keyym9UmXVjv6O9Or7DPM73hT+N864unDpRTa/kl6A1rECY3Jze5Jk2TEFYYAy0Wrfk2lRaQIYUwr1zHp8bylN9i7WvIfAUskdDHtJsXcTmghIl4+iFk8hxkBr/Y/QjjVcK5e3p7S5bzoflYKNgtmoJd2urIHsvVAUS8nFydx9jJvQ1iiFyqQNFvdU0M4f4E1d7f/IL1nfLT599qLsoTBSHNlJjUTPGugFr6zQJoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMDgwNzA4MTk0OTExWjAjBgkqhkiG9w0BCQQxFgQU8XNPGmVQtIUzT7ZX/8QtCr24DbMwDQYJKoZIhvcNAQEBBQAEgYBsJW/V/5ySfv+wyWNkQHBR5FAmWclZNJqgMQGFS5zoeXCatuI9cm/qj+YyNb2lclE3wi5HI2VDMgEODC0A/N/W3icxRQYyqMARDYTB4gPHdYsXlZRnx2zyfR3t+TDDp57RBzER1PLWupQyflgi02XVL4WH3QqnUUBF/B+gCLU6pw==-----END PKCS7-----
">
</form>