<% title "Why Sign Up?"%>
<h1 style="font-size: 150%;">Why Sign Up?</h1>
<p>Perhaps you are asking yourself, "Self!  Why should I sign up on this website?  
What possible good can come of it?"<br> Well, dear reader/listener, 
there are numerous reasons for you to sign up.  Some are immediately available, 
some may not be here for some time to come.  
<br>One thing that you may or may not have noticed yet is that this website is 
rather dynamic in nature.  It has gone through many 
<%= link_to 'changes', :action => 'site_history'%> throughout the times, 
and we are continually seeking to improve your experience.  What we have for you so far, 
and this list is likely to change, is:</p>
<ul>
	<li>Username tagged links:  If you hover over the links listed 
	either in the side bar or under the episode, you will see a hover box 
	with the username of whomever submitted the link.</li>
</ul>
<p>Again, I stress that there are new features that are in the works, but some are
more doable than others, so I'd rather keep them quiet for now.</p>